.card-list{
    width: 80vw;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.card-container{
    width: auto;
    height: 350px;
    border: 5px solid #accbee;
    margin: 10px;
    padding-top: 50px;
    padding-bottom: 0;
    cursor: url('mouse.png'), auto;
    transition: 200ms ease-in-out all;



}
.card-container:hover{
    scale: 1.1;
    cursor: url('mouse.png'), auto;
    background: #e7f0fd;
    transition: 200ms ease-in-out all;
}